 /* ul{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
a{
    color: red;
    background-color: rgb(0, 255, 0);

}
li{
    list-style-type: none;
    display: inline;
    color: black;

}
.outer{
    height: 500px;
    width: 500px;
    background-color: palegoldenrod;
    border-radius: 5px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner{
    height: 250px;
    width: 250px;
    background-color: rebeccapurple;
    justify-content: flex-center;
} */
.sh{
    width: 200px;
    height: 200px;
    background-color: darkolivegreen;

} */ */
@media (width:600px) {
    ,sh{
        background-color: blue;
    }
    
}